<p>
  The attempted deployment of the <strong><%=branch%></strong> branch of <strong><%=repo%></strong> on <strong><%=server%></strong> failed due to the following error:
</p>

<p>
  <em><%=error%></em>
</p>

<p>
  Date of deploy: <br/>
  <%=date%>
</p>


